$desc_c: #e02b3b;

.img-responsive {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}



h2{
  margin-top:10px;
  vertical-align: middle;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  border-right: 2px solid #dbdfe1;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}


#title{
}

#content{
  background-color: #fff6fc;
  border-radius: 10px;
  padding-bottom: 10px;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  margin-left: 50px;
}



.gly-centerl{
  top:10px;

}
.gly-centers{
  top:35px;

}

@mixin left_marge($px){

  .marge#{$px} {
    margin-left: #{$px}px;
  }
}

  @include left_marge(10);
  @include left_marge(15);
  @include left_marge(20);
  @include left_marge(30);

.myfooter {
  margin-bottom: 0;
  margin-left: -50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background: white;
  border-top: 1px solid #eee;
}

.myfooter > a,
.myfooter > a:hover,
.myfooter > a:focus {
  color: rgba(44, 101, 155, 0.72);
}


#navigation{
  font-size:125%;
}

#title_desc {
  margin-left: 30px;
  font-size: 150%;
}

.navbar-default{
  margin-top: 10px;
  margin-bottom: 5px;
}

.navbar-default .navbar-nav> .active >a,
.navbar-default .navbar-nav> .active >a:hover,
.navbar-default .navbar-nav> .active >a:focus {
  color: $desc_c;
  background-color: rgba(0, 0, 0, 0);
}


#menu_desc{
  color: $desc_c;
}



.note{
  color: #ff1300;
  font-weight: bolder;
  font-size:larger;
}

.rend_rubrique{
  text-align:left;
  position: relative;
  left:30px;
}

.l{
  position: relative;
  left: 30px;
}

.ln{
  position:absolute;
  color: #c0c0c0;
}

.type_title{
  text-align:center;
}

.EdCri .Enluminure{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width:200px;
}

.Comp .Enluminure{
  display:none;
}
.folio_name{
  text-align:center;
}


.im_fable{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  margin-bottom: 40px;
  width:80%;
}

.bxslider{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  margin-bottom: 40px;
  width:80%;
}



p{
  text-align: left;
  word-wrap: break-word;
  width:90%;
  margin-top:3px;
  margin-bottom:0px;
}

.fwidth{
  width:100%;
}


h3{
 font-size :130%;
}

h4{
  text-align: left;
  word-wrap: break-word;
  width:90%;
}

.highlight{
  border-radius: 15px;
  background-color: #ffdebb;
  padding:3px;

}

.EdCri .lem{
  color: #337ab7;
}

.EdCri .rdg{
  display:none;
}

.Comp .lem{
}

.Comp .rdg.substantive{
  color: #EB6841;
}

.Comp .rdg.orthographic{
  color: #00A0B0;
}

h4{
 margin-top: 60px
}

.Comp .abr{
  display:none;
}

.Trans .norm{
  display:none;
}

#slides {
  display:none;
}


.br_space {
  content: "";
  margin: 1em;
  display: block;
  margin-bottom: -20px;
}

.glyphicon-menu-hamburger, .glyphicon-arrow-left, .glyphicon-arrow-right{
  color:#337ab7;
}

.glyphicon-menu-hamburger:hover, .glyphicon-arrow-left:hover, .glyphicon-arrow-right:hover{
  color: #3c6296;
}

