/*navbar colors*/
$ed_cri_c: #ffcf06;
$im_man_c: #ffb72e;
$trans_c: #ff7d28;
$comp_c: #f45b1b;

/*navbar top border height*/
$bord-h: 6px;

/* Menu lightening */
$light: 0%;

.navbar-custom .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-custom .navbar-collapse {
  text-align: center;
}

/* navbar */
.navbar-custom {
  background-color: #ffffff;
  border-color: #ffffff;
}

/* link */
.navbar-custom .navbar-nav > li > a {
  color: #000000;
}

/* Bordure haute */

@mixin bord-top($color) {
  border-top: $bord-h solid $color;
}

#im_man {
  @include bord-top($im_man_c);
}

#ed_cri {
  @include bord-top($ed_cri_c);
}

#trans {
  @include bord-top($trans_c);
}

#comp {
  @include bord-top($comp_c);
}

/* Couleur au survol */
@mixin hover_color($menu, $color){
  .navbar-custom .navbar-nav #{$menu}:hover,
  .navbar-custom .navbar-nav #{$menu}:focus {
    color: #ffffff;
    background-color: lighten($color, $light);
  }
}

@include hover_color(#im_man, $im_man_c);
@include hover_color(#ed_cri, $ed_cri_c);
@include hover_color(#trans, $trans_c);
@include hover_color(#comp, $comp_c);



/* Couleur du menu sélectionné */
@mixin select_color($menu, $color) {
  .navbar-custom .navbar-nav > .active > #{$menu},
  .navbar-custom .navbar-nav > .active > #{$menu}:hover,
  .navbar-custom .navbar-nav > .active > #{$menu}:focus {
    color: #ffffff;
    background-color: $color;
  }
}

@include select_color(#im_man, $im_man_c);
@include select_color(#ed_cri, $ed_cri_c);
@include select_color(#trans, $trans_c);
@include select_color(#comp, $comp_c);

.navbar-custom .divider-vertical {
  height: 56px;
  margin: 0;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #c0c0c0;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e8e8e8;
}

/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}

/* mobile version */
.navbar-custom .navbar-toggle {
  border-color: #DDD;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #DDD;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #CCC;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}

