<div class="container">
    <section class="row">

        <div class="col-xs-12">

        <h2 style="color:#B22222; text-align:center;">Crédits</h2>
            
            <h2 style="color:#B22222;">Equipe :</h2>
            <p>Ce travail a été réalisé dans le cadre du <b>doctorat de <span style="color:#B22222;">Joana Casenave</span></b>.</p>
            <p>Titre de la thèse : <b style="color:#B22222;">« La transposition numérique de l'édition critique : éléments pour une édition de l'<i>Isopet 1-Avionnet</i> »</b>,<br/> réalisée en cotutelle entre l'<b>Université Paris-Est Créteil</b> et l'<b>Ecole de Bibliothéconomie et des sciences de l'information de l'Université de Montréal</b>, sous la direction conjointe de <b>Jeanne-Marie Boivin</b> (UPEC) et de <b>Yves Marcoux</b> (UdeM).</p>
            <ul>
                <li><b>Edition critique</b> : <b style="color:#B22222;">Joana Casenave</b>, sous la direction de <b style="color:#B22222;">Jeanne-Marie Boivin</b></li>
                <li><b>Schéma XML/TEI</b> : <b style="color:#B22222;">Joana Casenave</b> et <b style="color:#B22222;">Yves Marcoux</b></li>
                <li><b>Maquettes</b> : <b style="color:#B22222;">Joana Casenave</b>, <b style="color:#B22222;">Yves Marcoux</b> et <b style="color:#B22222;">Paul Berthier</b></li>
                <li><b>Codage XML/TEI</b> : <b style="color:#B22222;">Joana Casenave</b>, sous la direction de <b style="color:#B22222;">Yves Marcoux</b></li>
                <li><b>Site web</b> : <b style="color:#B22222;">Paul Berthier</b></li>
            </ul>
            <br/>
            <h2 style="color:#B22222;">Mises à jour :</h2>
            <p>Le site a été mis en ligne le 20 octobre 2016.</p>

        </div>

    </section>
</div>