<div class="container">
    <section class="row">

        <div class="col-xs-12">

            <h2 style="color:#B22222; text-align:center;">Crédits</h2>
            <h2 style="color:#B22222; text-align:center;">Mentions légales</h2>
            
     <p>
     <b>L’interface, les fonctionnalités, la forme et le contenu du présent site constituent, ensemble, une œuvre protégée par les lois en vigueur sur la propriété intellectuelle.
     </b></p> 
            <p>Les images numériques des manuscrits sont la propriété de la <b>Bibliothèque nationale de France</b>.</p>
     <p>
         L’ensemble de ces contenus textuels est mis à disposition selon les termes de la <b>licence Creative Commons « Attribution – Pas d’Utilisation Commerciale – Partage dans les Mêmes Conditions ; 4.0 International (CC-BY-NC-SA 4.0) ».</b> Cette licence est disponible en ligne : http://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr ou par courrier postal à Creative Commons, 171 Second Street, Suite 300, San Francisco, California 94105, USA.
     </p>
     <p>
     <b>Attribution</b> — Vous devez créditer l’œuvre, intégrer un lien vers la licence et indiquer si des modifications ont été effectuées. Vous devez indiquer ces informations par tous les moyens possibles mais vous ne pouvez pas suggérer que les éditeurs vous soutiennent ou soutiennent la façon dont vous avez utilisé leur œuvre.
     Les éditeurs demandent que toute publication dérivée de ses ressources électroniques comporte :
     1. leur nom, ainsi que les noms des personnes auteurs de l’édition ;
     2. l’URI permettant d’accéder à la page concernée du présent site web, ou à défaut à la page d’accueil de ce site ;
     3. la date et la version du fichier source utilisé (le cas échéant).
     </p>
     <p>
      <b>Pas d’Utilisation Commerciale</b> — Vous n’êtes pas autorisé à faire un usage commercial de cette œuvre, ou de tout ou partie du matériel la composant. 
     Nous souhaitons principalement encourager l’utilisation et l’amélioration de ces ressources électroniques dans l’intérêt de l’enseignement et de la recherche. Toute autorisation au-delà du champ de cette licence doit être obtenue auprès des éditeurs.
     </p>
     <p>
     <b>Partage dans les Mêmes Conditions</b> — Si vous effectuez un remix, si vous transformez l’œuvre originale, ou créez à partir du matériel composant l’œuvre originale, vous devez diffuser l’œuvre modifiée dans les mêmes conditions, c’est-à-dire avec la même licence avec laquelle l’œuvre originale a été diffusée. 
        </p>
     <p>
    <b>Pas de restrictions additionnelles</b> — Vous n’êtes pas autorisé à appliquer des conditions légales ou des mesures techniques qui empêcheraient autrui d’utiliser l’œuvre dans les conditions décrites par la licence.
     </p>

        </div>

    </section>
</div>