<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" ng-app="joanaApp">


<head>
    <meta charset="utf-8">
    <title>ISOPET1 - AVIONNET</title>
    <link rel="shortcut icon" href="images/logo.ico">
    <meta name="description" content="Joana_app">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="stylesheets/sidebar.css">
    <link rel="stylesheet" href="stylesheets/navbar-custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="javascript/zbox/jquery.zbox.css">
    <link rel="stylesheet" type="text/css" href="javascript/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="javascript/slick/slick-theme.css"/>
</head>


<!-- Header : Nom du site, logos et barre de navigation principale -->
<header class="page-header " ng-controller="HeaderController">

    <div class="container-fluid">

        <div class="row">

            <!-- Logo de l'UdeM -->
            <div class="col-xs-6 col-lg-2">
                <div class="center-block">
                    <div class="img-container">
                        <a href="http://www.umontreal.ca/"> <img src="images/UDEM-logo.jpg" class="img-responsive" alt="Udem logo"> </a>
                    </div>
                </div>
            </div>

            <!-- Logo de l'UPEC-->
            <div class="col-xs-6 col-lg-2 col-lg-push-8">
                <div class="center-block">
                    <div class="img-container">
                        <a href="http://www.u-pec.fr/" > <img src="images/UPEC-logo.png" class="img-responsive" alt="UPEC logo">  </a>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-lg-7 col-lg-pull-1">

                <!-- Nom du site -->
                <h1 class=" hidden-lg text-center">ISOPET 1 - AVIONNET </h1>
                <h1 class=" visible-lg-inline">ISOPET 1 - AVIONNET </h1>
                <span class=" visible-lg-inline" id="title_desc"> fables ésopiques médiévales </span>

                <!-- Barre de navigation principale -->
                <nav class="navbar navbar-default ">

                    <!-- Repli de la barre sur un petit écran (smarphone) -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#menu-collapse" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs-block">Menu</a>
                    </div>

                    <!-- Contenu de la barre -->
                    <div class="collapse navbar-collapse" id="menu-collapse">

                        <!-- Différentes sections du site -->
                        <ul class="nav navbar-nav">
                            <li ng-class="dp ? 'active' : ''"><a href="#/projet"
                                                                 ng-mouseover="showDesc('Description du projet') "
                                                                 ng-mouseleave="clearDesc()" ng-click="activedp()">PROJET</a>
                            </li>
                            <li ng-class="af ? 'active' : ''"><a href="#/corpus"
                                                                 ng-mouseover="showDesc('Affichage des fables')"
                                                                 ng-mouseleave="clearDesc()" ng-click="activeaf()">CORPUS</a>
                            </li>
                            <li ng-class="cp ? 'active' : ''"><a href="#/outils"
                                                                 ng-mouseover="showDesc('Outils de recherche')"
                                                                 ng-mouseleave="clearDesc()" ng-click="activecp()">OUTILS</a>
                            </li>
                            <li ng-class="bb ? 'active' : ''"><a href="#/bibliographie"
                                                                 ng-mouseover="showDesc('Bibliographie complète')"
                                                                 ng-mouseleave="clearDesc()" ng-click="activebb()">DOCUMENTATION</a>
                            </li>
                        </ul>

                        <!-- Formulaire de recherche -->
                        <form class="navbar-form navbar-right " role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Recherche">
                            </div>
                            <button type="submit" class="btn btn-default">Go !</button>
                        </form>

                    </div>

                </nav>

                <!-- Description de chaque section au survol du lien correspondant -->
                <span class="marge15" id="menu_desc">{{desc}}</span>

            </div>

        </div>

    </div>

</header>


<body>

<div ng-view></div>

</body>


<footer>
    <div class="container-fluid ">

        <div class="row">
            <div class="col-xs-12 myfooter text-center">
                    <a href="#">Mentions légales</a>
                    <a class="marge20" href="#">Crédits</a>
                    <a class="marge20" href="#">Contacts</a>
            </div>
        </div>

    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="javascript/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.9/angular-route.min.js"></script>
<script src="javascript/zbox/jquery.zbox.min.js"></script>
<script src="javascript/module.js"></script>
<script src="javascript/zoom/jquery.elevatezoom.js" type="text/javascript"></script>
<script type="text/javascript" src="javascript/slick/slick.js"></script>

</html>


