<h3 class="type_title ">Le chien qui traverse une rivière</h3>
<p class="type_recit "><span style="display:block" highlight="schema-donnee"><span class="ln">1</span><span class="l">Alors qu’un <span highlight="actant-personnage">chien</span> tient dans sa gueule un morceau de viande,</span><br><span class="ln">2</span><span class="l">la viande forme une ombre
         qui porte jusqu’aux eaux que le chien traverse.</span><br></span><span class="ln">3</span><span class="l">Mais il désire davantage l'idée de viande que la viande
      elle-même, davantage la perspective de gain</span><br><span class="ln">4</span><span class="l">que le gain lui-même. <span highlight="schema-action">Il ouvre la gueule, perdant alors et le morceau de
         viande, et l’idée qu’il s’en faisait.</span></span><br><span class="ln">5</span><span class="l">Ainsi, ce qui est assuré ne doit être délaissé au
      profit de chimères.</span><br><span class="ln">6</span><span class="l">Celui qui ne désire pas ardemment son bien en sera
      rapidement privé.</span><br></p>
<p><i class="rend_rubrique ">morale<br></i></p>
<p class="type_morale " highlight="morale-paradigmatique"><span class="ln">7</span><span class="l">Celui qui convoite tout finit par tout perdre.</span><br><span class="ln">8</span><span class="l">Une vieille dame chute à terre entre deux sièges.</span><br><span class="ln">9</span><span class="l">Voulant les avoir les deux ensemble, elle en sera
      totalement privée.</span><br><span class="ln">10</span><span class="l">Celui qui s’agite à deux affaires n’accomplit rien
      avec sagesse.</span><br></p>