
   <h3 class="head_type_title ">Le chien qui traverse une rivière</h3>
   
   <p align="left" class="lg_type_recit ">
      <span class="lg_corresp_#schema-donnee ">
         <span class="l ">Alors qu’un <span class="name_ref_#chien name_ref_#actant-personnage name_full_yes name_instant_false ">chien</span> tient dans sa gueule un morceau de <span class="rs_corresp_#viande ">viande</span>,<br></span>
         <span class="l ">la viande forme une <span class="rs_corresp_#reflet ">ombre</span>
            qui porte jusqu’aux <span class="placeName_ref_#riviere placeName_instant_false placeName_full_yes ">eaux</span> que le chien traverse.<br></span>
         </span>
      <span class="l ">Mais il désire davantage l'idée de viande que la viande
         elle-même, davantage la perspective de gain<br></span>
      <span class="l ">que le gain lui-même. <span class="seg_corresp_#schema-action ">Il ouvre la gueule, perdant alors et le morceau de
            viande, et l’idée qu’il s’en faisait.</span><br></span>
      <span class="ln">5</span><span class="l ">Ainsi, ce qui est assuré ne doit être délaissé au
         profit de chimères.<br></span>
      <span class="l ">Celui qui ne désire pas ardemment son bien en sera
         rapidement privé.<br></span>
      
   </p>
   
   <h5 class="l_rend_rubrique ">morale<br></h5>
   
   <p align="left" class="lg_type_morale lg_corresp_#morale-paradigmatique ">
      <span class="l ">Celui qui convoite tout finit par tout perdre.<br></span>
      <span class="l ">Une vieille dame chute à terre entre deux sièges.<br></span>
      <span class="l ">Voulant les avoir les deux ensemble, elle en sera
         totalement privée.<br></span>
      <span class="ln">10</span><span class="l ">Celui qui s’agite à deux affaires n’accomplit rien
         avec sagesse.<br></span>
      
   </p>
   
