<div class="'slide">
   <h4 class="folio_name">
      Folio 71v
   </h4><img class="im_fable" alt="Folio" src="resources/f4-L-71v_800.jpeg" data-zoom-image="resources/f4-L-71v.jpeg"></div>
<div class="'slide">
   <h4 class="folio_name">
      Folio 72r
   </h4><img class="im_fable" alt="Folio" src="resources/f4-L-72r_800.jpeg" data-zoom-image="resources/f4-L-72r.jpeg"></div>
<div class="'slide">
   <h4 class="folio_name">
      Folio 72v
   </h4><img class="im_fable" alt="Folio" src="resources/f4-L-72v_800.jpeg" data-zoom-image="resources/f4-L-72v.jpeg"></div>