<div class="container">
    <section class="row">

        <div class="col-md-4 hidden-sm">


                    <figure>
                        <img src="./partials/projet/img1.jpeg" width="180" id="img1"/>
                        <br/>
                        <br/>
                        <img src="./partials/projet/img2.jpeg" width="180" id="img2"/>
                        <p id="legende" style="text-align:center;">Lettres historiées <br/> manuscrit <i>a</i> (ms. fr. 1595 - BnF)</p>
                        <br/>
                        <br/>
                        <img src="./partials/projet/img3.jpeg" width="180" id="img3"/>
                        <br/>
                    </figure>

            </div>

            <div class="col-md-7 col-sm-12">

                <div style="font-family:palatino; font-size:16px;">
                    <h2 class="title_pr">Ce site présente le volet expérimental du doctorat de <a href="http://obvil.paris-sorbonne.fr/obvil/annuaire/joana-casenave" style="text-decoration:none; color:inherit; color:#d2143a;">Joana Casenave</a></h2>

                    <h3 class="title_pr2">« La transposition numérique de l’édition critique : éléments pour une édition de l’Isopet 1-Avionnet » (doctorat en co-tutelle UPEC / UdeM).</h3>
                    <p class="p_space">Ce travail de recherche interroge la notion de continuité entre l’édition critique traditionnelle et l’édition critique numérique. Située ainsi au point de rencontre de la philologie et des sciences de l’information, cette thèse vise à analyser les développements les plus récents de l’édition critique.</p>

                    <p class="p_space">Nous avons réalisé ce doctorat en cotutelle entre l’<b>Université Paris-Est Créteil</b> et l’<b>Université de Montréal</b>, sous la direction conjointe de <a href="http://lettres-sh.u-pec.fr/departements/lettres/equipe-pedagogique/boivin-jeanne-marie-360604.kjsp" style="text-decoration:none; color:inherit; color:#B22222;"><b>Jeanne-Marie Boivin</b></a> (Professeur de langue et de littérature françaises du Moyen âge à l’Université Paris-Est Créteil) et de <a href="http://www.ebsi.umontreal.ca/repertoire-ecole/vue/marcoux-yves/" style="text-decoration:none; color:inherit; color:#B22222;"><b>Yves Marcoux</b></a> (Professeur en informatique et Sciences de l'information à l’Université de Montréal).</p>
                    <p class="p_space">Nous présentons ici le travail d’édition réalisé sur un échantillon de quatre fables issues de l’<b style="color:#B22222;"><i>Isopet 1 – Avionnet</i></b>. Ce travail a accompagné notre réflexion théorique sur la transposition numérique de l’édition critique. Nous avons décidé de mettre en pratique, sur un corpus resserré, les diverses observations théoriques faites au cours de notre étude pour être en mesure de tester quelques-unes de nos hypothèses de recherche.</p>
                    <p class="p_space">L’<b><i style="color:#B22222;">Isopet 1-Avionnet</i></b> constitue une compilation de fables ésopiques médiévales présentant l’adaptation française des fables latines de l’Anonyme de Nevelet ainsi que celle d’une sélection de fables d’Avianus. Ce recueil est constitué, au total, de près de 80 fables et a été conservé dans six manuscrits. Les plus anciens, datés du XIV<sup>e</sup> siècle, correspondent à la seconde rédaction du texte, qui en est une version remaniée. Au contraire, les manuscrits datés du XV<sup>e</sup> siècle, constituent, pour leur part, la première rédaction de l’<i>Isopet 1 - Avionnet</i> et en livrent une version plus récente.</p>
                    <p class="p_space">Dans le cadre de ce travail expérimental, nous présentons, pour chacune des deux rédactions, l’édition des quatre fables suivantes :</p>
                    <ul>
                        <li>Le Chien qui traverse une rivière</li>
                        <li>La Chèvre et le Loup</li>
                        <li>Le Renard et la Cigogne</li>
                        <li>Le Cerf assoiffé</li>
                    </ul>

                    <p class="p_space">L’édition critique a été encodée en XML/TEI par <a href="http://obvil.paris-sorbonne.fr/obvil/annuaire/joana-casenave" style="text-decoration:none; color:inherit; color:#B22222;"><b>Joana Casenave</b></a>.</p>
                    <p class="p_space">La plateforme informatique a été réalisée par <a href="https://fr.linkedin.com/in/paul-berthier-a10b5263" style="text-decoration:none; color:inherit; color:#B22222;"><b>Paul Berthier</b></a> (étudiant à l’Ecole nationale supérieure des Télécommunications – Paris et l’Ecole Polytechnique – Montréal)</p>

                </div>

            </div>

    </section>
</div>

