<div class="container">
    <section id="content" class="row">

        <div class="col-sm-12">
            <h3>Ce site présente le volet expérimental du doctorat réalisé par <b>Joana Casenave</b>. </h3>
            <p class="fwidth">Intitulé « La transposition numérique de l’édition critique : éléments pour une édition de l’Isopet 1-Avionnet », ce travail de recherche interroge la notion de continuité entre l’édition critique traditionnelle et l’édition critique numérique. Située ainsi au point de rencontre de la philologie et des sciences de l’information, cette thèse vise à analyser les développements les plus récents de l’édition critique.</p>
            <p class="fwidth">Nous avons réalisé ce doctorat en cotutelle entre <b>l’Université Paris-Est Créteil</b> et <b>l’Université de Montréal</b>, sous la direction conjointe de <b>Jeanne-Marie Boivin</b> (Professeur de langue et de littérature françaises du Moyen âge à l’Université Paris-Est Créteil) et de <b>Yves Marcoux</b> (Professeur à l’Université de Montréal).</p>
            <p class="fwidth">Nous présentons ici le travail d’édition réalisé sur un échantillon de quatre fables issues de l’Isopet 1 – Avionnet. Ce travail a accompagné notre réflexion théorique sur la transposition numérique de l’édition critique. Ainsi, nous avons décidé de mettre en pratique, sur un corpus resserré, les diverses observations théoriques faites au cours de notre étude pour être en mesure de tester quelques-unes de nos hypothèses de recherche.</p>
            <p class="fwidth"><b>L’Isopet 1-Avionnet</b> constitue une compilation de fables ésopiques médiévales présentant l’adaptation française des fables latines de l’Anonyme de Nevelet ainsi que celle d’une sélection de fables d’Avianus. Ce recueil est constitué, au total, de près de 80 fables. Il a fait l’objet de deux rédactions successives : entre les mains d’un compilateur qui l’a remanié quelques dizaines d’années après sa composition initiale, le texte a subi des additions, des recompositions et des modifications significatives. </p>
            <p class="fwidth">Il a été conservé dans six manuscrits : les plus anciens, datés du XIVe siècle, correspondent à la seconde rédaction du texte, qui en est une version remaniée. Au contraire, les manuscrits datés du XVe siècle, constituent, pour leur part, la première rédaction de l’Isopet 1 - Avionnet  et en livrent une version plus récente.</p>
            <p class="fwidth">Dans le cadre de ce travail expérimental, nous présentons, pour chacune des deux rédactions, l’édition des quatre fables suivantes :
                <ul>
                    <li>Le Chien qui traverse une rivière</li>
                    <li>La Chèvre et le Loup</li>
                    <li>Le Renard et la Cigogne</li>
                    <li>Le Cerf assoiffé</li>
                </ul>
            </p>
            <p class="fwidth">L’édition critique a été encodée en XML/TEI par <b>Joana Casenave</b>.</p>
            <p class="fwidth">La plateforme informatique a été réalisée par <b>Paul Berthier</b> (étudiant à l’Ecole nationale supérieure des Télécommunications – Paris et l’Ecole Polytechnique – Montréal)</p>
        </div>

    </section>
</div>
