

.img-responsive {
    margin: 0 auto;
}

.navbar-custom .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-custom .navbar-collapse {
    text-align: center;
}

/* navbar */
.navbar-custom {
    background-color: #ffffff;
    border-color: #ffffff;
}
/* title */
.navbar-custom .navbar-brand {
    color: #777;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-custom .navbar-nav > li > a{
    color: #000000;

}

#im_man{
    border-top: 6px solid #ffcf06;
}

#ed_cri{
    border-top: 6px solid #e78626;
}

#trans{
    border-top: 6px solid #ff3c15;
}

#comp{
    border-top: 6px solid #c60f02;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e8e8e8;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e8e8e8;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #DDD;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 0px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #c0c0c0;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}



h2{
    margin-top:10px;
    vertical-align: middle;
}

.row.vertical-divider {
    overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-right: 2px solid #dbdfe1;
}
.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}


#title{
}

#content{
    background-color: #fff6fc;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    margin-left: 50px;
}


.gly-centerl{
    top:10px;

}
.gly-centers{
    top:35px;

}

.marge{
    margin-left: 20px;
}

.myfooter {
    margin-bottom:0px;
    margin-left: -50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 25px;
    background-color: #f5f5f5;
}
